language: cpp

sudo: required
dist: trusty

os:
  - linux

compiler:
  - clang
  - gcc

matrix:
  include:
    - os: linux
      compiler: clang
      env: ANALYZE=true
    - os: linux
      compiler: gcc
      env: MUSL=true

before_script:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo apt-get update -qq; sudo apt-get install -qq valgrind; fi
  - export SCAN_BUILD=""
  - if [ "$TRAVIS_OS_NAME" = "linux" ] && [ "$ANALYZE" = "true" ]; then sudo apt-get update -qq; sudo apt-get install -qq clang-3.5; export SCAN_BUILD=scan-build-3.5; fi
  - if [ "$TRAVIS_OS_NAME" = "linux" ] && [ "$MUSL" = "true" ]; then sudo apt-get update -qq; sudo apt-get install -qq musl-tools; export CC=musl-gcc; fi

script:
  - $SCAN_BUILD make CC=$CC
